# Dependencies
node_modules/
**/node_modules/



# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
.cache/

# Vercel
.vercel/

# Local database / runtime files
*.pid
*.seed